<div class=" ">
    <img src="assets/images/banner.png" alt="Free Home Sample" class=" " style="display: block; margin: auto; max-width: 100%;">

    <div class="u-center--vertical" style="width: 400px; left: 50px;">
        <div class="clearfix"><div class="c-home-intro u-padt--std u-padb--dbl">
            <div class="text-over-img">
                <h1 class="u-font-bold o-font-size--30">Get lab tests and full body checkups from the comfort of your home.</h1>
                <div class="o-f-color--dark-green u-padt--std">
                    <span class="u-font-bold 0-font-size--24">Upto 45% OFF
                    </span>
                    <span> +
                     </span >Get 10% Health Cashback<span>*</span><span class="u-pointer undefined"> T&amp;C</span>
                </div>
            </div>    
        </div>
    </div><a href="#landingpage-list">
    <div data-aid="" class="btn btn-primary">See all Packages</div></a>
</div>

<br><br>
<app-cards1></app-cards1>