<div class="jumbimg"><img src="assets/images/ayurveda3_1.jpg" class="img-fluid" alt="Responsive image"></div>
<hr>
<div class="fix1"><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Ayurveda Rules During This Time of Covid-19</strong></h1>
      <p class="lead">Before the evolution of Indian Ayurveda into an industry, 
         the practice of Ayurveda was confined to physicians and was considered 
         more of a service than a profession. The word 'Ayurveda' is composed of two terms, 
         'Ayush' meaning life and 'Veda' meaning knowledge of science. 
         Ayurveda is therefore that branch of science, which deals with the physical body. 
         It includes herbal medicine, dietetics, surgery, psychology and spirituality. 
         Thus etymologically, Ayurveda means the science of life. 
         It has its roots in antiquity and has been practiced in India for centuries. </p>
      <h3><u>Alternative Medicine</u></h3>
     <p class="lead">Ayurveda is today considered as an alternative healing science mainly 
         focusing on external treatments with the use of medicated oils for massages and other 
         treatments which are focused on to bringing about relaxation. It is much more than that. 
         I would define Ayurveda as a mother of modern medicine which has looked upon healing as a holistic exercise focusing on Mind, Body and Spirit for a complete cure.  </p>
     <h3><u>Beyond Germ Theory</u></h3>
     <p class="lead">Modern medicine has today evolved immensely especially after the Germ Theory and the invention of Antibiotics. 
         It seems that we have trained ourselves that diseases are merely attacks from germs and we need to infuse weapons in our bodies to arrest their growth. 
         Sometimes it has made us so paranoid that we have successfully associated a bacteria (Helicobacter pylori ) as a cause for gastritis and gastric ulcers. 
         The poor thing was the only microorganism which could survive in the extremely acidic gastric environment. So now we have Amoxicillin to kill it. 
         The fact is very well appreciated and even Ayurveda describes the role of external agents as disease causing entity termed as Hetu. 
         But, apart from using drugs which are merely designed to kill a particular strain or a group of micro organisms whether
         we can understand the predisposing factors for any disease condition to develop and whether it can be treated from the very root. 
         Efforts for killing a germ as we all know make them smarter  and we have to alter the harmony, and with no new antibiotics coming in and with so many viruses to blame, 
         I don't think we are on a winning path. </p>
     <h3><u>Holistic Approach</u></h3>
     <p class="lead">A Human Body is a complex functioning unit. 
         With the advent of modern diagnostic techniques, we have increased a span of our knowledge but we are going wrong somewhere in application. 
         Even in the management of non infective conditions like Atherosclerosis, Diabetes Mellitus, Hypertension there has been a remarkable development 
         but how can we explain the onset of these conditions in young patients, how do we convince that medications are to be taken life long? 
         How can we be sure that there are no side effects of drugs which are taken on a perpetual basis? These questions often puzzle many of us as doctors, patients and intellectuals. 
         A solution for that lies in Ayurveda.</p> 
      <p class="lead">Ayurveda was no different from how classically medicine was practiced in the western world. 
      It was based on observations derived over a period of ages by our forefathers documented in texts and prior to documentation transmitted thru Guru Shishya Parampara. 
      This science is fairly simple to understand like all basic sciences, what is needed is an open perspective and observation.Today we can cut open, analyze, test, interpret on the basis of what we feel is normal. 
      This is a great boon given to us by the developed scientific streams of Chemistry and Physics. Our forefathers relied on nature and try to interpret the signs and symptoms and derive treatment based on natural order. Today we have to use the goodness of their observation and apply our scientific intent to provide a holistic cure for conditions which are becoming difficult to manage. When we tried to isolate an active constituent from a drug (plant source/ animal source) we changed this holistic approach, we started talking chemicals and too much of chemistry. Even drug was defined as a Chemical substance.
      Agreed every thing is after all a chemical substance but Chemistry doesn't explain many things. </p>
      <h3><u>How to Boost Immunity Naturally</u></h3>
      <p class="lead">1.Proper consumption of  bitter gourd (in any form)</p>
      <p class="lead">2.Consumption of fresh and clean 2 tulsi leaves with a spoon of honey in the morning   </p>
      <p class="lead">3.Clean and fresh 2 Tinospora leaves with warm water </p>
      <p class="lead">5.1/2 tsp turmeric in one glass of warm milk  </p>
      <p class="lead">6.Timely food intake and plenty of fluids</p>
      <p class="lead">7.Avoid sugar and salt in excess.</p>
      <p class="lead">8.Regular exercise clubbed with pranayama and yoga and Meditation</p>
      
  <a href="#"><i class="fas fa-heart" style="color:#3395FF;margin-left:26px"></i> <strong style="color:black">24</strong></a>
  <a href="#"><i class="fas fa-user" style="color:black;margin-left:760px"></i> <strong style="color:black"> By,Dr.Zankhana M Buch,Ayurveda</strong></a>
  
     
   </div>
            </div>
</div>