<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/My.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">My Dr. Pain Relief Oil</h5>
<p class="card-text">Rs.324.00</p>
<p class="card-text">PACK SIZE:-25 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>My Dr. Pain Relief Oil</h2>
        <p>Manufactured By My Dr. Herbals Health Products</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This is an ayurvedic medicinal oil used for relieving back pain, neck pain, shoulder pain, knee, and joint pain.</p>
        <p>•This oil is non-irritant, non-greasy, and non-allergic in nature.</p>
         <hr>
        <h3>Description</h3>
        <p>My Dr. Pain Relief Oil is an ayurvedic herbal pain reliever oil used for back pain, neck pain, shoulder pain, knee, and joint pain. This oil is non-irritant, non-greasy, and non-allergic in nature.</p>
        <hr>
        <h3>Ingredients</h3>
        <p>Karpooram, Puteeha Satwa, Yavani Satwa, Bhutruna Tailam, Gandhapuro Patra Oil, Tila Oil, Coconut Oil, etc..</p>
        <hr>
        <h3>How to use</h3>
        <p>Apply a small amount of My Dr. Pain Relief Oil on the affected area and massage gently. Warm the area with a hot water bag. Do this 4 times a day.</p>
        <hr>
        <h3>Instructions</h3>
        <p>•For external use only</p>
        <p>•Avoid use in open wounds and scars</p>
        <p>•Store at room temperature at a cool and dry place.</p>
        
        
    
    
</div>
    
</div>
   
