<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/manna.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Manna Health Mix 500 g</h5>
<p class="card-text">Rs.121.00</p>
<p class="card-text">PACK SIZE:-500 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Manna Health Mix 500 g</h2>
        <p>Manufactured By Southern Health Foods Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This powder is a natural health mix of whole grain cereals, millets, and pulses that promotes overall health.</p>
        <p>•It is a rich source of proteins, dietary fiber, and iron.</p>
        <p>•It is very nutritious and keeps you energetic..</p>
         <hr>
        <h3>Description</h3>
        <p>Manna Health Mix is a natural health mix of whole grain cereals, millets, and pulses that promotes overall health, It is very nutritious and balanced with essential proteins, dietary fiber, and iron.</p>
        <hr>
        <h3>How to use</h3>
        <p>Add few spoons of this powder to water or milk and then cook it for 2-3 minutes. You can add salt, sugar or honey for taste. This can be then served and taken as a full meal, porridge or beverage. You can use this product two times a day. Do not use if after the expiry date.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store it in a cool and dry place. Keep away from sunlight..</p>
        
    
    
</div>
    
</div>
