<div class="container">
    <h2>Skin Care</h2>
    <h4>BODY AND BATH</h4>
    <div style="margin-left: 40px;">
        <div class="row" style="margin-top:32px;">
              <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 20px;">
        <img style="height:218px"src="assets/images/oilatum2.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Oilatum Soap Bar 100g</h5>
          <p class="card-text">Rs.136.40</p>
          <a routerLink="/Products/SkincareProducts/Oilatum"> 
            <button style="width:125px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            <router-outlet></router-outlet>
   
          <a href="#"> 
        <button style="width:150px;font-size: 19px;margin-left:1%;" class="btn btn-primary">
            Add to cart</button>
        </a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/derma.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Dermadew Lite Soap</h5>
          <p class="card-text">Rs.175.00</p>
          <a routerLink="/Products/SkincareProducts/Dermadew"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            <router-outlet></router-outlet>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/Nusoft.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Nusoft Soap</h5>
          <p class="card-text">Rs.149.00</p>
          <a routerLink="/Products/SkincareProducts/Nusoft"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            <router-outlet></router-outlet>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            
     <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/Edew.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">E Dew Soap 75 g</h5>
          <p class="card-text">Rs.250.00</p>
         <a routerLink="/Products/SkincareProducts/Edew"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            <router-outlet></router-outlet>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/Gel3.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Nivea Men Fresh Shower Gel </h5>
          <p class="card-text">Rs.179.00</p>
          <a  routerLink="/Products/SkincareProducts/Nivea"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            <router-outlet></router-outlet>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/body_oil.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Jac Olivol Body Oil 200 ml</h5>
          <p class="card-text">Rs.105.00</p>
         <a routerLink="/Products/SkincareProducts/Jac"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            <router-outlet></router-outlet>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
          
            
            
</div>
    
</div>


</div>

