<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 23rem;height:26rem">
            <img style="height:218px" src="assets/images/Ayurveda.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Ayurveda Rules During This Time of Covid-19</h5>
              <p class="card-text">Dr.Zankhana M Buch,Ayurveda</p>
          <a routerLink="/all/ayurveda">
            <button style="width:180px;font-size: 19px;" class="btn btn-success">
              See This Article</button></a> <router-outlet></router-outlet> 
              
            </div>
           
              </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width:23rem; height:26rem">
            <img style="height:218px" src="assets/images/Ex.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">What Kind of Exercise is right for You?</h5>
              <p class="card-text">Dr.Rajat Patil(PT),Physiotherapist</p>
             <a routerLink="/all/exercise"> 
              <button style="width:180px;font-size: 19px;" class="btn btn-success" >See This Article
              </button></a> <router-outlet></router-outlet> 
              </div>
              </div>
      </div> 
      <div class="col-md-4">
        <div class="card" style="width:23rem; height:26rem">
            <img style="height:218px"src="assets/images/3.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Food And Water:-Safety,Hygiene and Sanitation </h5>
              <p class="card-text">Dr.Vishwas Virmani(PT),Physiotherapist</p>
              <a routerLink="/all/food"> <button style="width:180px;font-size: 19px;" class="btn btn-success">
                See This Article</button></a><router-outlet></router-outlet> 
              </div>
              </div>
      </div> 
      <div class="col-md-4">
        <div class="card" style="width:23rem; height:24rem;margin-top: 25px;">
            <img style="height:218px"src="assets/images/Skin.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Skin Care in Summer </h5>
              <p class="card-text">Dr.Rajat Mathur,Dentist</p>
              <a routerLink="/all/skincare"> 
                <button style="width:180px;font-size: 19px;" class="btn btn-success">
                  See This Article</button></a><router-outlet></router-outlet> 
              </div>
              </div>
      </div> 
      <div class="col-md-4">
        <div class="card" style="width:23rem; height:24rem;margin-top: 25px;">
            <img style="height:218px"src="assets/images/Hair.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Hacks For Frizzy and Dry Hair</h5>
              <p class="card-text">Femina</p>
              <a routerLink="/all/haircare"> 
                <button style="width:180px;font-size: 19px;" class="btn btn-success">See This Article</button>
              </a><router-outlet></router-outlet> 
              </div>
              </div>
      </div> 
      <div class="col-md-4">
        <div class="card" style="width:23rem; height:24rem;margin-top: 25px;">
            <img style="height:218px"src="assets/images/Fat.jpg" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Effective Ways to Lose Belly Fat</h5>
              <p class="card-text">Ms.Silky Mahajan,Dietitian/Nutritionist</p>
              <a routerLink="/all/fatcare"> 
                <button style="width:180px;font-size: 19px;" class="btn btn-success">See This Article</button>
              </a><router-outlet></router-outlet> 
              </div>
              </div>
      </div> 

        
    </div>
   
</div> 
