<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/Edew.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">E Dew Soap 75 g</h5>
<p class="card-text">Rs.250.00</p>
<p class="card-text">PACK SIZE:-75g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>E Dew Soap 75 g</h2>
        <p>Manufactured By Rely On Pharmaceuticals.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This soap is a non-irritant moisturizing soap enriched with vitamin E.</p>
        <p>•It is ideal for all ages and skin types. It improves skin elasticity and keeps skin in good condition.</p>
        <p>•It keeps your skin hydrated and prevents skin from damage and aging.</p>
        
        
        <hr>
        <h3>Description</h3>
        <p>E-Dew Soap moisturizes the skin and promotes overall appearance of the skin to be in good condition..</p>
        <hr>
        <h3>Use</h3>
        <p>The oils fortified with emollients and moisturizers make the skin soft and supple.</p>
        <p>useful for all skin types and all age groups.</p>
        <hr>
        <h3>Active Ingredients</h3>
        <p>•Olive oil</p>
        <p>•Glycerin</p>
        <p>•Tea tree oil</p>
        <p>•Zinc</p>
        <hr>
        <h3>Directions for use</h3>
        <p>Use twice in a day. Apply and massage on the affected area for about a minute at every use and rinse thoroughly with water and pat dry with a towel.</p>
        
        
    
    
</div>
    
</div>
