<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/No2.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Weight No More (60 Capsules)</h5>
<p class="card-text">Rs.1349.40</p>
<p class="card-text">PACK SIZE:-60 capsules</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container">
    <div class="f1">
        <h2>Weight No More (60 Capsules)</h2>
        <p>Manufactured By AADAR.co.</p>
        <hr>
        <h3>What is Weight No More?</h3>
        <p>Now losing weight loss is not a tough task anymore. Here, we bring you the AADAR Weight No More which is a supplement used to burn fat. Being a blend of natural herbs, AADAR Weight No More boosts metabolism naturally and helps you achieve your weight loss goal faster. It keeps you satiated after a good meal and helps you reduce your calorie intake.</p>
        <hr>
        <h3>Why choose Weight No More?</h3>
        <p>You must choose this product as it is 100% natural and does not cause any side effects. Weight No More is completely safe for everyday use and is FSSAI certified. This capsule also regulates appetite and helps in boosting metabolism.</p>
        <hr>
        <h3>key ingredients</h3>
        <p>•Garcinia Cambogia(1. Reduces inflammation 2. Balances blood sugar levels 3. Aids in weight loss)</p>
        <p>•Triphala(1. Improves digestion 2. Promotes weight loss 3. Boosts immune system)</p>
        <p>•Fenugreek(1. Reduces cholesterol levels 2. Lowers inflammation 3. Helps in appetite control)</p>
        <hr>
        <h3>key benefits</h3>
        <p>1. Burns extra fat</p> 
        <p>2. Boosts metabolism</p>
        <p>3. Regulates appetite</p>
        <hr>
        <h3>How to consume weight no more?</h3>
        <p>You are advised to consume two capsules in the morning (empty stomach) and two in the night after meals. It would be best if you have it with a glass of warm water on a regular basis.</p>
    
</div>
    </div>
    
