<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/shake.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">GNC Total Lean® Lean Shake(Vanilla) </h5>
<p class="card-text">Rs.1750.00</p>
<p class="card-text">PACK SIZE:-750gm</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container">
    <div class="f1">
        <h2>GNC Total Lean® Lean Shake(Vanilla) </h2>
        <p>Manufactured By GNC Total Lean</p>
        <hr>
        <h3>Description</h3>
        <p>Meal Replacer is a substitute to your meal which is usually low in carbs, calories, high in fibre and meets your daily 1/3rd essential vitamin and mineral requirement. Meal replacements are designed for a wide variety of diets, each with its own specific needs. A. Protein is the satiating nutrient and whey protein is the best. Meal replacements are also a convenient and effective way to exercise portion control, an essential component of a successful weight management plan.</p>
        <p>•GNC Total Lean shake 25 contains high quality protein, 8 gm fibre and 27 vitamins and minerals.</p>
        <p>•Contains a soluble fibre, which is a naturally low-glycemic soluble fiber that helps support normal, healthy blood glucose levels and keeps you fuller for longer. </p>
        <p>•Helps to keep a gap between your two meals.</p>
        <p>•Diet Consultation for Customers.</p>
        <hr>
        <h3>Who should Consume?</h3>
        <p>•Ideal for those who wish to lose weight, but not wish to compromise on their health.</p>
        <p>•Ideal for those who travel a lot and look for convenient meal option</p>
        <p>•Ideal for those which to restrict their calorie and carbohydrates intake</p>
        <p>•Ideal for weight management</p>
        <p>•Ideal for those who do not get time for proper breakfast or lunch in the morning</p>
         <hr>
        <h3>Key Benefits </h3>
        <p>•Healthy meal replacement to support lean muscle tone</p>
        <p>•Improves body's metabolism and helps in managing weight</p>
        <p>•Contains high quality protein, fiber, vitamins, minerals and fat</p>
        <hr>
        <h3>How to consume Lean Shake 25</h3>
        <p>Add two leveled scoops (approx.52 gm) in 290 ml of water or as recommended by a healthcare professional. Stir well and use promptly.</p>
    
</div>
    </div>
