<div class="jumbimg"><img src="assets/images/exer2.jpg" class="img-fluid" alt="Responsive image"></div>
<hr>
<div class="fix1"><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>What Kind of Exercise is right for You?</strong></h1>
      <p class="lead">Everyone loves the notion of exercising for good health but few actually adhere to regular exercise.
          In January everyone has these fabulous goals for the year- one of them inevitably ends up being “lose weight” or “get fit”. 
          But till March or maybe even February, most have given up on their goals and feel like losers- frustrated and angry with themselves. 
          This is how gyms make their money. And this is how the cycle of “never-exercising” continues! But despair not, 
          you may be aiming for the wrong goal, choosing the wrong type of exercise and hence letting it go. 
          If you find the right kind of exercise that would be fun for you, I bet you would be motivated to keep it up. 
      </p>
      <p class="lead">
          Exercise means different things for different people. 
          Some love running; others find it boring.Some love lifting weight in the gym, others find it too much. 
          Everyone has an exercise preference and this depends on your personality but also your muscle fibers. 
          We all have a mix of type 1, type 2A and type 2B fibers. The proportion of each varies between individuals and also between muscles. 
          Generally speaking, people with a larger proportion of type 1 muscle fibers tend to enjoy and be good at endurance type exercise such as walking, 
          long distance running, cycling etc while those with a larger proportion of 2A muscle fibers enjoy strength and power type of exercise such as weight training, sprinting, etc. 
          So if you have wondered why you enjoy something that your best friend or spouse finds boring, this is your answer. 
          Instead of trying to do what everyone else is doing, ask yourself a few questions to determine the kind of exercise program you will look forward to and will stick with!
      </p>
      
      <p class="lead"><strong>1.</strong> What is your exercise goal? Why do you want to exercise? 
          Is it to lose weight? (this usually is not a realistic goal); 
          Is it to tone your muscles? (getting better); Is it to feel good and be more healthy? (Bingo!) 
          If you only exercise to lose weight then no matter how good you feel, how well your clothes fit and how much you enjoy the exercise; 
          you will eventually stop if the weighing scale numbers don’t match your expectations. 
          Instead, if you exercise for long term-benefits like vitality, strength and longevity you will stick to your routine and end up losing the weight eventually.</p>
      <p class="lead"><strong>2.</strong> Do you enjoy being with people or you would rather be alone while you sweat? 
          This question is a good one to understand before you embark on a fitness class that absolutely hate later on! Basically, 
          ask yourself if you are introverted (then pick home mat-based exercise/yoga at home/Pilates DVD/home gym/trainer at home/swimming) or 
          extroverted (pick fitness groups- running, training, kickboxing/trekking in groups/gym with friends/fitness classes/swimming with friends/Zumba)  </p>
      <p class="lead"><strong>3.</strong> Do you like the outdoors, fresh air and seeing people or would you rather be devoid of pollution, 
          have air-conditioning and good music? This will determine how quickly you end that gym membership. 
          If you love the great outdoors then being cooped in a gym or at home will stifle you (pick trekking, running, walking, yoga on the beach, training outside, swimming); 
          if being outdoors sounds like too hot or polluted to you then joining a 
          fitness group outside will end up making you grouchy (pick a well lit, well air-conditioned gym/ fitness classes indoors/home gym/trainer at home/yoga at home). </p>
      <p class="lead"><strong>4.</strong> Is your exercise routine very one-sided? 
          Or well rounded? Are you doing all cardio? Or are you doing only weight training and no cardio? 
          Is there any stretching/yoga/meditation included in your program? Is your whole body getting energized? Most people are 
          so focused on their muscles (including the heart) that they neglect their joints, breathing, circulation and balance. </p>
      <p class="lead"><strong>5.</strong> Do you know your body? Are you are a stiff-strong bloke or a super-flexible weakling? 
          Get a fitness assessment done. Understand your body type. Do you need to focus on strength or stretching? 
          Would walking and weight training better for you or yoga and swimming? 
          A physiotherapist or a certified fitness trainer can do this assessment for you. Do you prefer variety or a disciplined fixed routine every time?</p>
      <p class="lead"><strong>6.</strong> Do you prefer variety or a disciplined fixed routine every time? 
          Depending on the answer to this question pick either a variety of classes or figure out a set routine that works for you and stick to it.</p>
      <p class="lead"><strong>7.</strong> Is your exercise program practical taking into account your responsibilities and the amount of time you can dedicate to daily exercise?</p>
      <p class="lead">Plan around your responsibilities, job and children;fit in into your day where it becomes seamless-without creating conflict.Your exercise program is designed to reduce stress, not create stress; make it easy for you to follow.So choose an exercise program based on the answers to these questions. 
   These answers help you understand yourself, your choices, your lifestyle and most importantly your exercise preference. 
   Once you do this, the rest is easy. Choosing a right workout plan and sticking to it is more important than doing something that everyone else is 
   doing and ending up berating yourself for being lazy, weak and undisciplined.</p>
      
  <a href="#"><i class="fas fa-heart" style="color:#3395FF;margin-left:26px"></i> <strong style="color:black">69</strong></a>
  <a href="#"><i class="fas fa-user" style="color:black;margin-left:657px"></i> <strong style="color:black"> By,Dr.Rajat Patil(PT),Physiotherapist</strong></a>
  
     
   </div>
            </div>
</div>
