<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/powder3.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Nutrix Whey Protein Powder 1000 g</h5>
<p class="card-text">Rs.1614.40</p>
<p class="card-text">PACK SIZE:-1000 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container">
    <div class="f1">
        <h2>Nutrix Whey Protein Powder 1000 g</h2>
        <p>Manufactured By Nutrix Health Care Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•It contains high quality whey protein.</p>
        <p>•It has high biological value and high protein efficiency rate.</p>
        <p>•It stimulates protein synthesis and helps to gain weight.</p>
        <hr>
        <h3>Description</h3>
        <p>Nutrix Whey Protein Powder is neutral in taste and easy to digest. It contains high whey protein and has high biological value and high protein efficiency rate. It helps to gain weight and stimulates protein synthesis. It can be used as a dietary supplement. This is used before or after the body workout. It can be mixed with either water or milk.</p>
        <hr>
        <h3>Use</h3>
        <p>Add required amount of this powder into a blender or shaker. Now add required amount of milk or water into the shaker/blender and shake for 2-3 minutes until the powder dissolves. Use 2 times a day for better results.</p>
        <hr>
        <h3>Precautions</h3>
        <p>Do not use if the seal is damaged or open. Use within one month of opening the container.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store this in a cool dry place away from direct sunlight and heat. Keep away from children and pets.</p>
    
    
</div>
    </div>