<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:34rem;margin-top:32px">
<img style="height:318px" src="assets/images/oilatum2.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Oilatum Soap Bar 100 g</h5>
<p class="card-text">Rs.136.40</p>
<p class="card-text">PACK SIZE:-100g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container"><div class="f1">
        <h2>Oilatum Soap Bar 100 g</h2>
        <p>Manufactured By Glaxosmithkline Pharmaceuticals Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•It is a moisturizing and soothing soap bar for everyday use. It is very helpful for dry and sensitive skin.</p>
        <hr>
        <h3>Description</h3>
        <p>The mild formula of oilatum soap is suitable for sensitive and dry skin to gently cleanse and prevent it from drying.</p>
        <hr>
        <h3>Use</h3>
        <p>It is designed for sensitive and dry skin and is suitable for all age groups and all skin types.</p>
        <hr>
        <h3>Benefits</h3>
        <p>•Gently moisturizes and cleanses the skin</p>
        <p>•Suitable for daily use</p>
        <hr>
        <h3>Directions for use</h3>
        <p>To be applied on wet skin during bath/washing and worked into a lather and spread on the skin. Care to be taken in skin conditions associated with damage and abrasion.</p>
    
    
</div>
</div>
