<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/endura.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Endura Mass Vanilla Powder 500 g</h5>
<p class="card-text">Rs.975.00</p>
<p class="card-text">PACK SIZE:-500 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Endura Mass Vanilla Powder 500 g</h2>
        <p>Manufactured By Medinn Belle Herbal Care Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This powder helps in weight gain by providing up to 3480 extra calories per day other than the food intake.</p>
        <p>•It comes in tasty vanilla flavour.</p>
        <p>•It acts as an anabolic booster.</p>
        <p>•It has the ability to build a nucleus of the cells in the body.</p>
         <hr>
        <h3>Description</h3>
        <p>Endura Mass is formulated for individuals who desire to gain weight. It is 100% vegetarian with superior quality proteins, vitamins, minerals, and complex carbohydrates.</p>
        <hr>
        <h3>Key Ingredients</h3>
        <p>•Maltodextrin</p>
        <p>•Soy Protein Isolate</p>
        <p>•Whole Milk Powder</p>
        <p>•Sugar</p>
        <p>•Palm and Coconut Oil</p>
        <p>•Sweet Dairy Whey</p>
        <p>•Soy Fibre</p>
        <p>•Vitamins and Minerals</p>
        <hr>
        <h3>Key Benefits</h3>
        <p>It contains easy to absorb proteins, complex carbohydrates with vitamins and minerals in delicious flavour. It helps to fuel easy workouts decreasing muscular degradation thus helping in weight gain. It nourishes your body with vitamins, minerals and nutrients.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store in a cool dry place away from sun light. Replace the cap after use.</p>
        
    
    
</div>
    
</div>
