<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/meno2.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Menopro Powder-Mango Flavour 200 g</h5>
<p class="card-text">Rs.347.00</p>
<p class="card-text">PACK SIZE:-200 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Menopro Powder-Mango Flavour 200 g</h2>
        <p>Manufactured By British Biologicals</p>
        <hr>
        <h3>Highlights</h3>
        <p>•Its a nutritional food supplement used to manage symptoms of menopause.</p>
        <p>•Enriched with essential vitamins and minerals.</p>
         <hr>
        <h3>Description</h3>
        <p>Menopro Powder is a nutritional potent supplement that contains soy isoflavones, calcium, vitamin D, 30 essential vitamins, minerals, flavor (mango extract) and soy protein isolate used for managing the symptoms of menopause.</p>
        <hr>
        <h3>Indications</h3>
        <p>It is used to control menopausal symptoms like irritability, anxiety, depression, hot flushes, etc., postmenopausal osteoporosis, and hypercholesterolemia in menopausal women.</p>
        <hr>
        <h3>Directions of Use</h3>
        <p>Take one serving of powder in a glass of milk or lukewarm water, stir well until the powder dissolves. It can be taken once daily or use as directed by the physician.</p>
    
    
</div>
    
</div>
