<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/Apo.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Apollo Pharmacy Pain Relief Oil 80 ml</h5>
<p class="card-text">Rs.175.00</p>
<p class="card-text">PACK SIZE:-80ml oil</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Apollo Pharmacy Pain Relief Oil 80 ml</h2>
        <p>Manufactured By Apollo Pharmacy</p>
        <hr>
        <h3>Highlights</h3>
        <p>It is non-sticky and very effective and it gives relief from back pain, neck pain, shoulder pain, and knee joint pain.</p>
         <hr>
        <h3>Description</h3>
        <p>Apollo Pharmacy Pain Relief Oil is non-sticky and very effective in giving relief from back pain, neck pain, shoulder pain, and knee joint pain.</p>
        <hr>
        <h3>Ingredients</h3>
        <p>Apollo Pharmacy Pain Relief Oil is enriched with mahanarayan tail that gives instant relief from pain and inflammation. This formula is known to give relief from joint pain.</p>
        <hr>
        <h3>Directions for Use</h3>
        <p>Apply sufficient quantity of oil on affected area and massage gently. Leave for an hour for the oil to get absorbed and then take warm water shower. For best results, use the oil two times a day.</p>
        
        
    
    
</div>
    
</div>
