<div class="container">
    <h2>Pain relief</h2>
    <h4>PAIN RELIEF BALM AND OIL</h4>
    <div style="margin-left: 40px;">
        <div class="row" style="margin-top:32px;">
              <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/arlin.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Arlin Linimentr</h5>
          <p class="card-text">Rs.200.00</p>
          <a routerLink="/Products/PaincareProducts/Arlin"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/vio.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Viopatch + Large</h5>
          <p class="card-text">Rs.499.00</p>
          <a routerLink="/Products/PaincareProducts/Viopatch"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/My.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">My Dr. Pain Relief Oil</h5>
          <p class="card-text">Rs.324.00</p>
          <a routerLink="/Products/PaincareProducts/Painrelif"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            
     <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/Balm.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Amrutanjan Strong Pain Balm</h5>
          <p class="card-text">Rs.125.00</p>
         <a routerLink="/Products/PaincareProducts/Amrutanjan"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/Myo.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Myovedic Oil</h5>
          <p class="card-text">Rs.170.00</p>
          <a routerLink="/Products/PaincareProducts/Myovedic"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/Apo.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Apollo Pain Relief Oil </h5>
          <p class="card-text">Rs.175.00</p>
         <a routerLink="/Products/PaincareProducts/ApolloPain"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
          
            
            
        </div>
    
</div>


</div>
