<div class="jumbimg"><img src="assets/images/climate1.jpg" class="img-fluid" alt="Responsive image"></div>
<hr>
<div class="fix1"><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Top 5 Health Tips To Deal With Climate Change</strong></h1>
      <p class="lead">
          Is the changing weather bothering you? Are you trying to adjust to a sunny morning and rainy evening? Not to mention the unbeatable heat followed by stormy winds. You are just not sure about what to wear and what to eat. </p> 
      <p class="lead">Changing climate is surely a concern and has been hitting hard these days. In contrast to the scorching heat that almost dries you up, you sometimes receive heavy showers as an unwelcome guest. </p>
      <p class="lead">So how do cope with the unpredictable weather? How to plan your diet and routine to keep yourself healthy? Let us have a look at some health tips to stay healthy even when the climate changes.  </p>
      <h3><u>Here are 5 health tips to deal with climate change:</u></h3>
      
      <p class="lead">Many people are sensitive to climate change and often experience cold, cough, allergies, headache, backache, joint pains and triggering of existing complaints. Following a healthy lifestyle throughout can help to manage sudden changes without getting affected. </p>
      <p class="lead">First thing, plan ahead; keep yourself updated about the weather forecast and plan your health routine, work or vacation accordingly. The best way to deal with climate change is to practice moderation and not overindulge in any food or activity. </p>
      
      <h3><u>Fruits & Veggies Keep You Strong</u></h3>
      <h3>•Eat Right:</h3>
      <p class="lead">Choose the right foods and plan a healthy, balanced meal. Include whole grains, fruits, fresh vegetables and dry fruits that can keep you energized throughout the day. Choose lean meat, fish, eggs and pulses for a protein boost to keep you strong. Avoid junk food and processed meals as they can invite health problems and allergies.
 </p>
 <h3><u>Drink Plenty of Water</u></h3>
      <h3>•Stay Hydrated:</h3>
      <p class="lead">Staying hydrated is essential for every season, be it summer, winter or monsoon. You may not realize the need to have water when the climate is cold, but it still is very important. Drink plenty of water; it can help you get rid of toxins and stay healthy. You can choose fresh fruit juices, coconut water or warm drinks like green tea, soups and curries.</p>
      <h3><u>Regular Exercise Keeps You Fit</u></h3>
      <h3>•Exercise Every day:</h3>
      <p class="lead">Exercise not only improves blood circulation but also keeps your stress levels low. It helps to keep the joints supple and strong, thus reducing the chances of muscle and joint problems with climate change. Regular exercises improve oxygenation and immunity, thus keeping allergies and infections at bay. Simple walking or swimming can help or you can even practice yoga under the supervision of an expert.</p>
      <h3><u>Good Quality Sleep Heals You</u></h3>
      <h3>•Sleep Well: </h3>
      <p class="lead"> Adequate rest and sleep allow your body and mind to heal, which helps to fight illnesses. Climate change can be stressful causing fatigue and a feeling of being unwell. Sleeping well during the night and taking rest, as required can help you deal with your health problems during changing climate. </p>
      <h3>•Follow Medical Advice:</h3>
     <p class="lead">The last but not the least; seek medical opinion for your health problems. Follow your doctor’s advice and take your routine medications, if any, as prescribed. Whether it is medication, vaccination or diet and lifestyle advice, follow it religiously and talk to your doctor, for any concerns.</p>
     <p class="lead">While it is true that climate changes can cause health problems, but if you are aware, you can easily deal with it. Give your body and mind all the necessary nutrients and see yourself in the pink of health, even during climate change.</p> 
        
     <a href="#"><i class="fas fa-heart" style="color:#3395FF;margin-left:26px"></i> <strong style="color:black">47</strong></a>
  <a href="#"><i class="fas fa-user" style="color:black;margin-left:667px"></i> <strong style="color:black"> Dr. Snehal Singh</strong></a>
  
  
     
   </div>
            </div>
        </div>
