<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/Gel3.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Nivea Men Vitality Fresh Shower Gel 250 ml</h5>
<p class="card-text">Rs.179.00</p>
<p class="card-text">PACK SIZE:-250ml</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Nivea Men Vitality Fresh Shower Gel 250 ml</h2>
        <p>Manufactured By Nivea India Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•For men who need a vitalizing and refreshing shower.</p>
        <p>•The vitalizing ocean minerals recharge your mind and body and add a uplifting scent.</p>
        <hr>
        <h3>Description</h3>
        <p>Nivea Men vitality fresh shower gel has the combined formula of ocean minerals and uplifting scent not only moisturizes skin and but adds a masculine and revitalizing fragrance.</p>
        <hr>
        <h3>Use</h3>
        <p>The shower gel is a 3 in one formula to take care of body, face and hair.</p>
        <hr>
        <h3>Directions for use</h3>
        <p>Put a coin sized amount on a soaked loofah and work it into a rich lather and gently rub the loofah over moist skin and rinse with water.</p>
        
        
    
    
</div>
    
</div>
