<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/him2.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Himalaya Liv.52 DS Tablet</h5>
<p class="card-text">Rs.140.00</p>
<p class="card-text">PACK SIZE:-100ml</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Himalaya Liv.52 DS Tablet</h2>
        <p>Manufactured By Himalaya Drug Company.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This tablet protects the liver from hepatotoxins.</p>
        <p>•Protects from alcohol-induced liver damage and arrests the progress of cirrhosis.</p>
        <p>•Prevents fatty infiltration of the liver due to chronic alcohol consumption.</p>
        <p>•Improves the appetite and promotes weight gain.</p>
        <hr>
        <h3>Description</h3>
        <p>Himalaya Liv.52 DS Tablet restores the function of the liver by protecting the hepatic parenchyma and promoting hepatocellular regeneration. It helps in the removal of acetaldehyde produced by the oxidation of ethanol and protects from alcohol-induced liver damage. It also improves the appetite and promotes weight gain by normalizing the basic appetite-satiety rhythm.</p>
        <hr>
        <h3>Indications</h3>
        <p>•Viral hepatitis</p>
        <p>•Alcoholic liver disease</p>
        <p>•Cirrhosis</p>
        <p>•Jaundice</p>
        <p>•Loss of appetite during pregnancy</p>
        <p>•An adjuvant to hepatotoxic drugs</p>
        <p>•An adjuvant to hemodialysis</p>
        <p>•Liver disorders</p>
        <p>•Liver damage due to radiation therapy</p>
        <hr>
        <h3>Key ingredients</h3>
        <p>•The caper bush: A potent hepatoprotective</p>
        <p>•Chicory: A potent antioxidant</p>
        <hr>
        <h3>Directions for use</h3>
        <p>As directed by the doctor.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store at room temperature protected from sunlight, heat, and moisture. Keep away from the reach of children and pets.</p>
        
    
</div>
    
</div>
