<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/VWash.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">VWash Plus 200 ml</h5>
<p class="card-text">Rs.300.00</p>
<p class="card-text">PACK SIZE:- 200 ml</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>VWash Plus 200 ml</h2>
        <p>Manufactured By Glaxosmithkline Pharmaceuticals Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This product relieves itching, irritation, burning, dryness and unpleasant odor in the intimate area.</p>
        <p>•It gives long-lasting freshness throughout a day.</p>
        <p>•It comes in pH 3.5 which helps to restore and balance the pH levels in the intimate area.</p>
        <p>•It maintains the moisture levels in the intimate area.</p>
        <p>•Can be used daily for a healthy and hygienic lifestyle.</p>
         <hr>
        <h3>Description</h3>
        <p>VWash Plus is a solution used to wash the intimate area which helps to relieve burning, itching, irritation, dryness and unpleasant odor over there. It has a unique formula of lactic acid that cleans the intimate area and provides a long-lasting freshness throughout the day. It can be used daily for a healthy and hygienic lifestyle.</p>
        <hr>
        <h3>Precautions/Warning</h3>
        <p>For external use only. It is only recommended for use in the intimate area. Discontinue the use if any irritation occurs. Keep out of reach of children. Do not swallow and avoid contact with the eyes.</p>
        
    
    
</div>
    
</div>
