<div class="jumbimg"><img src="assets/images/fat4.jpg" class="img-fluid" alt="Responsive image"></div>
<hr>
<div class="fix1"><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Effective Ways to Lose Belly Fat</strong></h1>
      <p class="lead">
          Easy to gain but difficult to lose, Belly fat is one of the biggest ongoing problem in today’s world. It causes bad-looks and unappealing appearance. Larger waistlines are linked to a higher risk of heart disease, diabetes, high blood pressure, abnormal and even cancer. Waistline above 40 inches (102 cm) in men and 35 inches (88 cm) in women is known as abdominal obesity.
 Below suggested lifestyle changes surely can help to lose belly fat:</p> 
      <h3><u>1. Try cutting down your carbs especially simple ones:</u></h3>
      
      <p class="lead">•Eliminate refined carbs - white bread, white rice, pasta, maida etc and also sugar and sugary drinks like soda, cola, juices, packed bars, chocolates etc. </p>
      <p class="lead">•Instead include complex carbs--brown rice, whole wheat flour, quinoa, millets such as jowar, ragi, bajra, foxtail etc.</p>
      <h3><u>2. Eating more healthy protein: </u></h3>
      <p class="lead"> Lean meats, fish, eggs, legumes, beans, nuts, low fat dairy and dairy products can boost your metabolism and reduce hunger levels, making it a very effective way to lose belly fat.</p>
      
      <h3><u>3. Incorporate fiber rich foods in diet: </u></h3>
      <p class="lead">Wholegrain cereals (e.g. wholegrain bread, whole oats, quinoa, millets, Broken wheat daliya), Fruits (e.g. Oranges, Berries, Pears, Melon), Vegetables (e.g. Broccoli, Cucumber, Carrot, Green leafy vegetables), Legumes, Nuts and Seeds.
       <h3><u> 4. Avoid foods that contains trans fat and instead take healthy fatty acids: </u></h3>
       <p class="lead">Unsaturated fats present in margarines, cookies, pastries, fried food have adverse effect on your health. Instead choose foods rich in omega 3 and omega 6 such as olive oil, peanut butter, nuts (almonds, pistachios, walnuts etc), seeds (Sunflower, pumpkin, chia, flax etc), sea foods, lean fish etc</p>
       
       <h3><u>5. Eat 6 meals (3 major + 3 small) at regular intervals and drink plenty of water.  </u></h3>
       <h3><u>6. Maintain the portion size </u></h3>
       <p class="lead"> and keep a track of your food intake by referring any app.</p>
       <h3><u>7. Include foods that increases metabolism: </u></h3>
       <p class="lead">Matcha green tea, lemon water - unsweetened, extra virgin coconut oil, apple cider vinegar, cinnamon powder are few examples to increase metabolism.</p>
       <h3><u>8. Avoid eating junk and processed foods </u></h3>
       <p class="lead">(pizza, burger, noodles, chips, cookies, sugary juice, cola drinks)</p>
       <p class="lead">9. Avoid taking alcohol</p>
        <p class="lead">10. Aerobic exercise (like walking, running, swimming etc) has been shown to cause major reductions in belly fat. Practising exercises such as leg raise, abs exercise, crunches, sit ups, maintain climbing, planks, burpees etc are more effective to shed excess belly fat.</p>
         <p class="lead">11. Read the food label before buying any food products to check sugar contents, sodium, potassium, preservatives etc.</p>
         <p class="lead">12. Get plenty of restful sleep (6-8 hours).</p>
         <p class="lead">13. Reduce stress level through Yoga/Meditation.</p>
         <p class="lead">14. Change your sedentary lifestyle: Try not to sit too much, do stretching exercises at your desk, take the stairs instead of the elevator etc.</p>
         <p class="lead">15.Choose healthy cooking techniques such as boiling, steaming, stir-frying, sautéing, roasting, grilling instead of deep frying, high fat baking, microwaving.</p>
         
         
         <a href="#"><i class="fas fa-heart" style="color:#3395FF;margin-left:26px"></i> <strong style="color:black">56</strong></a>
  <a href="#"><i class="fas fa-user" style="color:black;margin-left:667px"></i> <strong style="color:black"> Ms.Silky Mahajan,Dietitian/Nutritionist</strong></a>
  
  
     
   </div>
            </div>
        </div>
