<div class="jumbimg"><img src="assets/images/hair5_2.jpg" class="img-fluid" alt="Responsive image"></div>
<hr>
<div class="fix1"><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Hacks For Frizzy and Dry Hair</strong></h1>
      <p class="lead">
          This liquid gold is derived from the kernel fruits of argan trees in Morocco.</p> 
      <p class="lead">- Argan Oil is an all-in-one solution to your hair woes - it tames frizz, hydrates skin on the scalp & repairs damage from daily abuse.</p>
 
      <p class="lead">- Argan oil is full of essential fatty acids antioxidants and vitamins A, C, and E, so it's great for scalp, hair and skin.</p>
 
 <p class="lead">- While purchasing, look for 100 percent organic argan oil without any fillers, water, alcohol, preservatives, or additional chemicals. 
     Make sure it says 'Made in Morocco’. It should come in a dark glass bottle & be kept away from sun. </p>
 
 <p class="lead">- Rub a pea-size amount of  argan oil into your palm and pull them through the length of your hair. Apply on the scalp directly for dandruff. </p>
 
 <p class="lead">- Can be mixed (3-5 drops) with conditioner, apply on hair, allow it to sit for 5 min before rinsing.</p>
      <h3><u>10 Natural Hacks To Tame Frizzy Hair Instantly</u></h3>
      <p class="lead"><strong>1.</strong> Choose a shampoo that is sulphate-free and high on glycerin to hydrate, moisturize and combat frizziness.</p>
      <p class="lead"><strong>2.</strong> Nourish your hair by applying conditioner at least twice a week without shampooing in order to restore the natural oils of your hair.</p>
      <p class="lead"><strong>3.</strong> To get some serious soft, frizz free hair, apply a banana-honey hair mask to condition and soften your hair strands.</p>
      <p class="lead"><strong>4.</strong> Air-dry your hair and avoid blow drying or rubbing it with a towel as it can dehydrate hair strands, causing it to crinkle.</p>
      <p class="lead"><strong>5.</strong> Ladies with straight hair, try out this hair twisting hack to get frizz free wavy hair. Check out the tutorial here.</p>
      <p class="lead"><strong>6.</strong> Apply coconut milk to your hair and leave it on overnight before washing it off, the natural proteins and moisture present in coconut milk can treat frizzy hair.</p>
      <p class="lead"><strong>7.</strong> After shampooing, pour flat beer through your hair and gently massage it for 10 minutes before rinsing it off, proteins and vitamin B found in beer can give you frizz free hair.</p>
      <p class="lead"><strong>8.</strong> Brush your hair at regular intervals to evenly distribute natural oils from your scalp to block out humidity and keep your hair hydrated.</p>
      <p class="lead"><strong>9.</strong> Frequently touching your hair can disturb the natural pattern of your hair and lead to frizzy hair, so avoid touching it as much as possible.</p>
      <p class="lead"><strong>10.</strong> Refrain from using cotton pillow covers as it can soak up the natural moisture in your hair making it dry.</p>
      <p class="lead"><strong></strong> </p>
      
      <p class="lead">Does your hair ever get static-y? This hack is neat. Put a dryer sheet on your brush and brush your hair normally. 
          Not only does this get rid of static completely, but also leaves your hair smelling AMAZING.You may feel like you've seen this one many times, 
          but it REALLY does work. If your hairstyles don't stay in place, you've got to pin your bobby pins with the wavy side down and criss-cross another one on top. 
          That way your hairstyles will stay in place!The stage when the growing is in process, the hair is called ‘Anagen’ hair. Anagen hair keeps on growing from two to five years. In Anagen hair, the cells of follicle grow, divide and are keratinized in order to make hair grow. 
          Having keratin means that the base of the hair shaft is moist and soft and the rest of hair shaft above hair bulb is dark pigmented.When the hair is under transition stage, 
          which is from root to end, the hair is called ‘catagen’ hair. Catagen hair, begin transitional, live for about 7 to 15 days. During this transition phase, the growth activity 
          of the hair stops. Growth of hair is not a continuous affair as some people think. Hair growing takes a resting phase during which no growth takes place and the roots of the 
          resting hair become club-shaped. 
          It is this condition that is called club hairs. </p>
      
      
      
      
  <a href="#"><i class="fas fa-heart" style="color:#3395FF;margin-left:26px"></i> <strong style="color:black">70</strong></a>
  <a href="#"><i class="fas fa-user" style="color:black;margin-left:786px"></i> <strong style="color:black"> By,Femina</strong></a>
  
  
     
   </div>
            </div>
        </div>
