<div class="main">
    <div class="f1">Why Book With Us?</div><br>
    <div class="row">


    <div class="col-md-2"></div>

        <div class="col-md-4">
            <img src="assets/images/home_sample_pickup.png"><b>Home collection for Free</b>
            <p>A certified professional will collect your sample from a location of your preference.</p>
        </div>

        <div class="col-md-1"></div>


        <div class="col-md-4">
        <div><img src="assets/images/practo_powered_labs.png"><b>Powered Labs</b>
        <p>A certified professional will collect your sample from a location of your preference.</p>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-md-4">
        <div><img src="assets/images/offers.webp"><b>Offers and affordable prices</b>
        <p>Get great discounts and offers on tests and checkups.</p>
        </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-4">
        <div><img src="assets/images/e_reports_on_next_day.png"><b>Digital Reports</b>
        <p>Access your reports anytime on your nerve account.We will email you a copy.</p>
        </div>
        </div>
        <div class="col-md-2"></div>
    </div>



</div>
<app-feedback></app-feedback>