<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/Balm.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Amrutanjan Strong Pain Balm 9 ml</h5>
<p class="card-text">Rs.125.00</p>
<p class="card-text">PACK SIZE:-9 ml</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Amrutanjan Strong Pain Balm 9 ml</h2>
        <p>Manufactured By Amrutanjan Healthcare Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•Amrutanjan Strong Pain Balm is used for relieving the headache and back pain with its unique formulation of the ayurvedic ingredients.</p>
        <p>•It gives you an immediate relief after the application. It rapidly absorbs on application and starts to show its action.</p>
         <hr>
        <h3>Description</h3>
        <p>Amrutanjan Strong Pain Balm is used for relieving the headache and back pain. It is stronger balm with double power to immediately relieve the pain and headache. It rapidly absorbs on application and starts its action by wintergreen oil and menthol. It is formulated with coolants which shows the soothing effect.</p>
        <hr>
        <h3>Ingredients</h3>
        <p>•Gandhapura tel</p>
        <p>•Pudina ka phool</p>
        <p>•Ointment base</p>
        <hr>
        <h3>How to use</h3>
        <p>Apply a small amount of balm on the forehead for headache or on the back for back pain.Gently massage for a while to help to increase the blood circulation in the affected area.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store at room temperature protected from sunlight, heat, and moisture. Keep it away from the reach to children and pets. Use the balm before the date of expiry.</p>
        
        
    
    
</div>
    
</div>
