<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/derma.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Dermadew Lite Soap</h5>
<p class="card-text">Rs.175.40</p>
<p class="card-text">PACK SIZE:-100g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container">
    <div class="f1">
        <h2>Dermadew Lite Soap</h2>
        <p>Manufactured By egde & Hegde Pharmaceutica Llp</p>
        <hr>
        <h3>Highlights</h3>
        <p>•It is used for improving the skin tone and texture. It reduces occurrence of blackheads.</p>
        <p>•It maintains moisture in the skin and keeps it well hydrated to make your skin soft and clean.</p>
        <hr>
        <h3>Description</h3>
        <p>Dermadew Lite Soap is used to improve the skin tone and texture. It contains vegetable oils with skin lightening agents, moisturizers, emollients, etc. Use this soap with other skin lightening medications for better outcome..</p>
        <hr>
        <h3>Use</h3>
        <p>It can be used twice daily. Apply a small amount of soap to the wet skin. Rub gently to produce enough lather and rinse it off with water.</p>
        <hr>
        <h3>Benefits</h3>
        <p>•Healthy skin growth</p>
        <p>•Keeps skin hydrated</p>
        <p>•Maintains skin moisture</p>
        <p>•Improves skin tone</p>
        <p>•Prevents occurrence of dark spots</p>
        <hr>
        <h3>Precautions</h3>
        <p>For external use only. It is not recommended for use in children's below 3 years of age.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store in a cool and dry place. Prevent the exposure to direct sunlight. Keep away from the children.</p>
    
    
</div>
    </div>
    

