<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/vio.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Viopatch + Large</h5>
<p class="card-text">Rs.499.00</p>
<p class="card-text">PACK SIZE:-10 large patches</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Viopatch + Large</h2>
        <p>Manufactured By Unexo Life Sciences Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•It provides sustained pain relief action for up to 12 hours.</p>
        <p>•It is a herbal product and safe for use in all kinds of pain conditions without any side effects.</p>
         <hr>
        <h3>Description</h3>
        <p>Viopatch + Large has five natural oils known for their pain relief properties. This patch can be locally applied to relieve the pain and inflammation like back pain, joint pain, muscle pain, stiff neck, and other pain conditions. The patches provide pain relief action for up to 12 hours.</p>
        <hr>
        <h3>Key Benefits</h3>
        <p>It is also used for back-ache, shoulder pain, sciatica, pain in lower back muscles and joints, inflammation and muscular sprain.</p>
        <hr>
        <h3>Directions for use</h3>
        <p>Apply the patch on dry, sweat-free skin. Note: Patch once applied cannot be reapplied</p>
        
        
    
    
</div>
    
</div>

