<div class="container">
    <h2>Fitness Management</h2>
    <h4>PROTEIN POWDERS AND MANY MORE</h4>
    <div style="margin-left: 40px;">
        <div class="row" style="margin-top:32px;">
              <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/B-pro.jpg" class="card-img-top" alt="...">
        <hr>         
         <div class="card-body">
          <h5 class="card-title">B-Protin Powder Chocolate </h5>
          <p class="card-text">Rs.229.00</p>
          <a routerLink="/Products/FitnesscareProducts/B-Protin"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/endura.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Endura Mass Vanilla Powder</h5>
          <p class="card-text">Rs.975.00</p>
          <a routerLink="/Products/FitnesscareProducts/Endura"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/manna.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Manna Health Mix 500 g</h5>
          <p class="card-text">Rs.121.00</p>
          <a routerLink="/Products/FitnesscareProducts/Manna"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
    </div>
    
 
</div>
   
</div>
