<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/arlin.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Arlin Liniment</h5>
<p class="card-text">Rs.200.00</p>
<p class="card-text">PACK SIZE:-50g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Arlin Liniment</h2>
        <p>Manufactured By Retort Pharmaceuticals Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•Pain relief for joint pains</p>
         <hr>
        <h3>Description</h3>
        <p>Arlin liniment is a proprietary ayurvedic liniment for joint pains.</p>
        <hr>
        <h3>Active Ingredients</h3>
        <p>•Deodar oil<p>
        <p>•Nilagiri Tailam</p>
        <p>• Tarpain Thailam</p>
        <p>•Karpoor</p>
        <hr>
        <h3>Key Benefits</h3>
        <p>It is also used for back-ache, shoulder pain, sciatica, pain in lower back muscles and joints, inflammation and muscular sprain.</p>
        <hr>
        <h3>Directions for use</h3>
        <p>Apply onto the affected area and gently massage. Use to 2-3 times a day.</p>
        
        
    
    
</div>
    
</div>
