<div class="row">
 <a class="nav-item nav-link" routerLink="/showarticles">
  <div class="col-md-6 float-left" >
        <div class="fix1"><h1>Read Top articles from health experts</h1>
        </div>
        <div class="fix2"><h6>Health articles that keep you informed about good health practices and achieve your goals.</h6>
        </div>
        <div class="fix4"> <button class="btn-primary"><b>See all articles</b>
        </button></div>
        
  </div>


  <div class="col-md-3 float-right">
        <div class="card" style="width:18rem;height:22rem;">
        
          <img src="assets/images/Fruits.jpeg" class="card-img-top" alt="...">
          <div class="card-body"><h5 class="card-title">Vitamins and Supplements</h5>
              <p class="card-text">5 Fruits to Boost Your Health</p>
              <p class="card-text">Dr.Swati Kapoor</p>
          </div>
        </div>
  </div>
  <div class="col-md-3 float-right">  
        <div class="card"style="width:18rem;height:22rem;">
  
          <img src="assets/images/Climate.jpg" class="card-img-top" alt="...">
          <div class="card-body">  <h5 class="card-title">Everday Fitness </h5>
              <p class="card-text">How to deal with Climate Changes</p>
              <p class="card-text">Dr.Snehal Singh</p>
          </div>
        </div>
  </div>
        </a><router-outlet></router-outlet>
</div><hr>
        <br>
        <br>
 <app-feedback></app-feedback>       