<div class="container">
    <h2>Family Care Products</h2>
    <h4>PRODUCTS FOR WHOLE FAMILY</h4>
    <div style="margin-left: 40px;">
        <div class="row" style="margin-top:32px;">
              <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/diapers.jpeg" class="card-img-top" alt="...">
        <hr>         
         <div class="card-body">
          <h5 class="card-title">Apollo Life Adult Diapers </h5>
          <p class="card-text">Rs.375.00</p>
          <a routerLink="/Products/FamilycareProducts/Apollo" > 
           
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
            
            <router-outlet></router-outlet>
         
            <a href="#"> <button style="width:150px;font-size:18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
         
        </div>
          
    </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/VWash.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">VWash Plus 200 ml</h5>
          <p class="card-text">Rs.300.00</p>
          <a routerLink="/Products/FamilycareProducts/VWash"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/meno2.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Menopro Powder(FLA Mango)  </h5>
          <p class="card-text">Rs.347.00</p>
          <a routerLink="/Products/FamilycareProducts/Menopro"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
   <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/soap.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Tedibar Bathing Bar 75 g  </h5>
          <p class="card-text">Rs.140.00</p>
          <a routerLink="/Products/FamilycareProducts/Tedibar"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;margin-left:1%;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
   </div> 
    </div>
    
 
</div>
   
</div>
