<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/soap.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Tedibar Bathing Bar 75 g</h5>
<p class="card-text">Rs.140</p>
<p class="card-text">PACK SIZE:-75 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Tedibar Bathing Bar 75 g</h2>
        <p>Manufactured By Curatio Healthcare Pvt. Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This product is ideal for baby's sensitive skin.</p>
        <p>•This product is also good for moisturizing baby's skin.</p>
        <p>•This product's pH is balanced to 5.5.</p>
         <hr>
        <h3>Description</h3>
        <p>Tedibar is a soap formulated with skin-friendly bathing bar and pH is maintained to 5.5. This is ideal for sensitive skin. It helps in maintaining the baby's skin moisturized and restoring it.</p>
        <hr>
        <h3>Benefits</h3>
        <p> The main benefit is that its pH is balanced to 5.5 and it does not affect the baby's skin.</p>
        <hr>
        <h3>Ingredients</h3>
        <p>•Maltodextrin</p>
        <p>•Sodium Cocosulphate</p>
        <p>•Disodium Lauryl Sulphosuccinate</p>
        <hr>
        <h3>Precaution</h3>
        <p>For external use only</p>
        
</div>
    
</div>
