
        <br><br>
        
    <div id="carouselControls" class="carousel slide" data-ride="carousel" style=" width:100%; background-color: linen;">
    <div class="carousel-inner">
      <div class="carousel-item active" style="text-align: center;">
        <h1>What our users have to say </h1><br><br>
          <div class="S1"><p>Hassle free from older versions of booking appointments via telephone and  not having to wait in long queues.
                  Thanks Nerve for making it simple.</p><br><br>
<i class="fas fa-user" style="color:gray"> <strong style="color:gray">Amit Sharma</strong></i></div><br>
          
      </div>

      <div class="carousel-item">
          <h1>What our users have to say </h1><br><br>
        <div class="S1"><p>The best thing about Nerve is if you have  doctor's prescription and cannot recognize the text written in it
                  then this is where you can easily upload your prescription and get details about medicines.Well thought about scanning the prescription Nerve.</p><br><br>
              <i class="fas fa-use" style="color:gray"><strong style="color:gray">Avinash Kumar</strong></i></div><br>
          
      </div>

      <div class="carousel-item">
        <h1>What our users have to say </h1><br><br>
        <div class="S1"><p>Listing and showing the doctors location wise so that you can get information about doctors even if you are unknown to the place.</p><br><br>
                <i class="fas fa-user" style="color:gray"><strong style="color:gray">Jyoti Bhatia</strong></i></div><br>
      </div>

          
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
        </div>
        <br><br>
