<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/B-pro.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">B-Protin Powder Chocolate 200 g</h5>
<p class="card-text">Rs.229.00</p>
<p class="card-text">PACK SIZE:-200 g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>B-Protin Powder Chocolate 200 g</h2>
        <p>Manufactured By British Biologicals</p>
        <hr>
        <h3>Highlights</h3>
        <p>•B-Protin is cholesterol and Gluten free.</p>
        <p>•It helps in maintaining good health,improving the immunity system and also in boosting the energy.</p>
        <p>•It has come with chocolate flavour.</p>
         <hr>
        <h3>Description</h3>
        <p> B-Protin Powder is a good health drink enriched with a mixture of time released proteins, casein, whey and soy. These give the proper and continuous supply of amino acids for the production of enzymes, maintaining tissues and formation of haemoglobin.</p>
        <hr>
        <h3>Indications</h3>
        <p>It is indicated to use in cases like recovery from a diseased condition, any hospitalised condition or immuno-compromised patients.</p>
        <hr>
        <h3>Directions for use</h3>
        <p>•HOT: Stir 2-3 teaspoons in a cup of hot water or milk. Add sugar to get the better taste. For better results, drink twice a day.</p>
        <p>•COLD: Stir 2-3 teaspoons of boost into a lukewarm milk, add sugar for better taste. Refrigerate for some time.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store in cool and dry place. Replace the cap of the container after use and close it tightly.</p>
        
        
    
    
</div>
    
</div>
