<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/well2.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Cureveda Weight Well</h5>
<p class="card-text">Rs.1445.00</p>
<p class="card-text">PACK SIZE:-500 mg</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container">
    <div class="f1">
        <h2>Cureveda Weight Well</h2>
        <p>Manufactured By Cureveda</p>
        <hr>
        <h3>Highlights</h3>
        <p>•Herbal weight loss support, fat loss, fat burn.</p>
        <p>•Slim, fit and leaner life.</p>
        <p>•Metabolism support.</p>
        <p>•Garcinia, Guggul, Turmeric.</p>
        <p>•90 vegetarian tablets, 30 day pack.</p>
        <p>•100% herbal, safe for long term use, no side effects.</p>
        <hr>
        <h3>Use</h3>
        <p>•1 Tablet Thirice a day,Before Breakfast,Lunch and Dinner</p>
        <p>•Avoid Fried and Processed Food</p>
        <p>•Don't Take on an empty stomach </p>
        <p>•Continue for 3 months</p>
        <hr>
        <h3>Precautions</h3>
        <p>Do not use if the seal is damaged or open. Use within one month of opening the container.</p>
        <hr>
        <h3>Storage</h3>
        <p>Store this in a cool dry place away from direct sunlight and heat. Keep away from children and pets.</p>
    
    
</div>
    </div>
    
