

<div class="row">


<div class="col-md-2">
    <a routerLink=""><img id="logo" src="assets/images/Nerve.png" alt=""></a>
</div>

<div class="col-md-2 ">
    <p class="title"><b>Doctors</b> <br> Book an appointment</p>
</div>

<div class="col-md-2 ">
    <p class="title"><b>Chat</b> <br> Chat with top doctors</p>
</div>

<div class="col-md-2 ">
    <p class="title"><b>Pharmacy</b> <br> Medicines and health products</p>
</div>

<div class="col-md-2 ">
        <a routerLink="/showdiagnostics">
    <p class="title"><b>Diagnostics</b> <br>Book Tests and Checkups</p></a>
</div>

<div class="col-md-2 ">
    <span #btnLogin class="btn btn-primary mt-3"><a routerLink="login/">Login</a>/<a routerLink="signup/" >Signup</a></span>
</div>


</div>
<hr>


