<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/pro.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">OZiva Protein & Herbs for Women </h5>
<p class="card-text">Rs.1465.00</p>
<p class="card-text">PACK SIZE:-500gm</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    </div>
<div class="container">
    <div class="f1">
        <h2>OZiva Protein & Herbs for Women </h2>
        <p>Manufactured By OZiva</p>
        <hr>
        <h3>Description</h3>
        <p>•OZiva Protein & Herbs, Women packs 23g of Clean, Cold Processed Whey Protein, 5.5g BCAA with essential Multivitamins & Minerals</p>
        <p>•Ayurvedic Herbs Blend specially designed for Women - Shatavari, Guduchi, Flaxseed, Green Tea, Curcumin, Tulsi, Cinnamon for better Hormonal Balance & Metabolism </p>
        <p>•Biotin, Iron, Zinc, Vitamin A, Vitamin D, Vitamin C, B-Vitamins and other Essential Multivitamins for better Skin & Hair. </p>
        <p>•Gluten Free, Soy Free, Non GMO, No Artificial Sweetener, 0g Added Sugar.</p>
        <p>•Diet Consultation for Customers.</p>
        <hr>
        <h3>Why is it Must Have</h3>
        <h4>OZiva Protein & Herbs for Women is a daily must have</h4>
        <p>•It provide benefits not only of Protein but also contains Ayurvedic herbs like Shatavari, Guduchi, Flaxseed, Green Tea, Curcumin, Tulsi, Cinnamon for better Hormonal Balance & Metabolism.</p>
        <p>•Multivitamins & MInerals like Biotin, Iron, Zinc, Vitamin A, Vitamin D, Vitamin C, B-Vitamins, etc. for Healthy Hair & younger looking skin.</p>
        <p>•Helps in Boosting Metabolism, Building Lean Muscle, Reducing Body Fat.</p>
        <p>•Loved by millions of Women.</p>
         <hr>
        <h3>What makes it Good</h3>
        <p><strong>Metabolism Blend</strong></p>
        <p>Guduchi,Green tea,Clinnamon</p>
        <p><strong>Hormonal Balance</strong></p>
        <p>Shatavari, Flaxseed,Tulsi,Curcumin</p>
        <p><strong>Skin and Hair Blend</strong></p>
        <p>Biotin,Iron,Zinc,Vitamin A,Vitamin D,Vitamin C,B-Vitamins</p>
        <hr>
        <h3>key benefits</h3>
        <p>1. Burns extra fat</p> 
        <p>2. Boosts metabolism</p>
        <p>3. Regulates appetite</p>
        <hr>
        <h3>How to consume Oziva Powder?</h3>
        <p>1.Take 100-150ml Water</p>
        <p>2.Add 1-2 Scoops</p>
        <p>3.Stir well and Enjoy</p>
    
</div>
    </div>
