<div class="jumbimg"><img src="assets/images/wash3.jpg" class="img-fluid" alt="Responsive image"></div>
 <hr>
 <div class="fix1"><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><strong>Food and Water:- Safety, Hygiene and Sanitation</strong></h1>
      <p class="lead">
                 People with weakened immune systems are more vulnerable to illness from food that has become contaminated by disease-causing germs.
                 Often called “food poisoning,” the symptoms include nausea, vomiting, chills, cramps and diarrhea. 
                 They can be short-lived or can become chronic and difficult to treat, especially for people with HIV. 
                 Common types of bacterial infections are salmonella, campylobacter, listeria and E coli. 
                 Other harmful substances can sometimes be found in food, 
                 likemoulds and industrial toxins such as PCBs and mercury.You usually have little control over food production, 
                 transportation,processing and storage, but you do have control over how you select your food and handle it at home. 
      </p>
      
      <h3><u>Water Safety</u></h3>
      <p class="lead">
          Normally the water supply in urban Indian cities and towns is safe to drink because chlorination kills most of the germs that cause infection and diarrhea. 
          Cryptosporidium is one germ that is not killed by chlorine,but it is not usually found at high enough levels to cause problems. 
          If Cryptosporidium levels increase to a dangerous level, a public health warning is issued.People with low immune function—especially with a 
          CD4+ count of less than 200—are at increased risk of getting infected by Cryptosporidium and may need to take special precautions . 
          People who obtain water from wells or other sources of untreated water should also follow these guidelines even if they have a high CD4+ count. 
          If there is a water advisory, it also may be necessary to use treated water to wash foods and brush your teeth.
      </p>
      <h3><u>Treating your water right </u></h3>
      <h3>Use one of the following three methods:</h3>
      
      <p class="lead"><strong>1.Boil tap water for 1 minute </strong> at a rolling boil. Boil water once a day and keep it in the refrigerator. 
          Boiled water should be used for drinking water, ice cubes and making juice, coffee or tea.</p>
      
      <p class="lead"><strong>2.</strong> Filter the water with filters that remove all particles that are <strong>1 micron in size or larger.</strong>
          Some commercial filters are not small enough. Make sure the filter you are using is the right size. For example, 
          the Brita filter for the pitcher is not the right size but the <strong>Brita filter for the tap is.</strong>  </p>
      
      <p class="lead"><strong>3.</strong>  Use bottled water that has been <strong>distilled or treated by reverse osmosis.</strong>
          Not all bottled water has been treated, especially the water sold in individual-size bottles. 
          Water coolers and other containers for bottled water can be a major site of microbial growth. 
          Bacteria and moulds grow in these containers; they must be thoroughly cleaned inside with a
          <strong>vinegar solution</strong> at least once a month. Don’t reuse individual-size water bottles.
          They can harbour bacteria and moulds. </p>
      
      <h3><u>What’s different for people with HIV </u></h3>
      
      <p class="lead">Most of these guidelines apply to everyone but they are especially important for people with lower CD4+ counts. 
          People with HIV with a CD4+ count less than 200 have the highest risk of getting sick from food or water contamination and should follow these guidelines carefully.
 #chooseyourfood #drinkplentyofwater #wateryfoods #chiropractic #vishwasvirmani</p>
      
  <a href="#"><i class="fas fa-heart" style="color:#3395FF;margin-left:26px"></i> <strong style="color:black">78</strong></a>
  <a href="#"><i class="fas fa-user" style="color:black;margin-left:650px"></i> <strong style="color:black"> By,Dr.Vishwas Virmani(PT),Physiotherapist</strong></a>
  
     
   </div>
            </div>
</div>
