<div class="container">
    <h2>Weight Management</h2>
    <h4>PROTEIN POWDERS AND MANY MORE</h4>
    <div style="margin-left: 40px;">
        <div class="row" style="margin-top:32px;">
              <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/powder3.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Nutrix Whey Protein Powder</h5>
          <p class="card-text">Rs.1614.40</p>
          <a routerLink="/Products/WeightcareProducts/Nutrix"> 
            <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button>
        </a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/him2.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Himalaya Liv.52 DS Tablet</h5>
          <p class="card-text">Rs.140.00</p>
          <a routerLink="/Products/WeightcareProducts/Himalaya"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/well2.jpg" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Cureveda Weight Well</h5>
          <p class="card-text">Rs.1445.00</p>
          <a routerLink="/Products/WeightcareProducts/Cureveda"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            
     <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/No2.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">Weight No More Capsules</h5>
          <p class="card-text">Rs.1349.00</p>
         <a routerLink="/Products/WeightcareProducts/WeightNo"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/pro.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">OZiva Protein Powder</h5>
          <p class="card-text">Rs.1465.00</p>
          <a routerLink="/Products/WeightcareProducts/OZiva"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
            <div class="col-md-4">
    <div class="card" style="width:20rem; height:25rem;margin-top: 25px;">
        <img style="height:218px"src="assets/images/shake.png" class="card-img-top" alt="...">
        <hr>
         <div class="card-body">
          <h5 class="card-title">GNC Total Lean(Lean Shake)</h5>
          <p class="card-text">Rs.1750.00</p>
         <a routerLink="/Products/WeightcareProducts/GNC"> <button style="width:120px;font-size: 19px;" class="btn btn-primary">Details</button></a>
          <a href="#"> <button style="width:150px;font-size: 18px;" class="btn btn-primary">Add to cart</button></a>
          </div>
          </div>
  </div> 
             
        </div>
 
</div>

</div>
