<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/diapers.jpeg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Apollo Life Unisex Adult Diapers Medium</h5>
<p class="card-text">Rs.375.00</p>
<p class="card-text">PACK SIZE:- M</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Apollo Life Unisex Adult Diapers Medium</h2>
        <p>Manufactured By Apollo Pharmacy</p>
        <hr>
        <h3>Highlights</h3>
        <p>•It has slim contoured shape, which gives an ideal fit without slipping and it allows one-way passage of fluid in to the absorbent layer.</p>
        <p>•These diapers has super absorbent material with leak proof leg guard. These diapers has brief like leg opening and comfortable to use.</p>
        <p>•It has soft textile material which exchange the air to maintain a dry feeling and no skin irritation and these are suitable for both men and women.</p>
         <hr>
        <h3>Description</h3>
        <p> Apollo Life Adult Diapers are super absorbent and very effective in managing excretion incontinence. They are specially designed with the soft cotton surface which give comfort to use and non-woven fabric allows good ventilation and quick absorption.</p>
        <hr>
        <h3>Key Benefits</h3>
        <p>Super absorbent polymer for good absorption, Multi-Strand leg guards as leak proof, Soft and durable PE backing, Wetness indicator, Two pairs of adhesive tape for tight fixing.</p>
        <hr>
        <h3>Key Ingredient</h3>
        <p>Polypropylene and polyethylene, Chlorine and dioxins, Super absorbent polymer, Fragrance and phthalates.</p>
        
    
    
</div>
    
</div>
   
