<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/body_oil.jpg" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Jac Olivol Body Oil 200 ml</h5>
<p class="card-text">Rs.105.00</p>
<p class="card-text">PACK SIZE:-200ml</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Jac Olivol Body Oil 200 ml</h2>
        <p>Manufactured By Hahnemann Laboratories Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•This body oil is used for soft, smooth, glowing and healthy skin.</p>
        <p>•The vitalizing ocean minerals recharge your mind and body and add a uplifting scent.</p>
        <hr>
        <h3>Key Ingredient</h3>
        <p>Olive oil</p>
        <hr>
        <h3>Key Benefits</h3>
        <p>Soft, smooth, glowing and healthy skin. This oil helps in treating minor rashes, discoloration and dryness of the skin.</p>
        <hr>
        <h3>Directions for use</h3>
        <p>Apply in required quantities all over the body before or after a bath.</p>
        
        
    
    
</div>
    
</div>