<div class="container">
    <div class="row">
    <div class="card" style="width: 26rem; height:30rem;margin-top:32px">
<img style="height:240px" src="assets/images/Nusoft.png" class="card-img-top" alt="...">
<hr>
<div class="card-body">
<h5 class="card-title">Nusoft Soap</h5>
<p class="card-text">Rs.149.00</p>
<p class="card-text">PACK SIZE:-75g</p>
<a href="#" class="btn btn-primary btn-block" style="font-size:19px">ADD TO CART</a>
</div>
</div>
    </div>
    <div class="f1">
        <h2>Nusoft Soap</h2>
        <p>Manufactured By Micro Labs Ltd.</p>
        <hr>
        <h3>Highlights</h3>
        <p>•It is a moisturizer soap formulated at pH 5.5. It makes your skin soft, supple and hydrated..</p>
        
        <hr>
        <h3>Description</h3>
        <p>Nusoft Soap is formulated with vegetable oils fortified with specific emollients that nourish and moisturize the skin.</p>
        <hr>
        <h3>Use</h3>
        <p>The oils fortified with emollients and moisturizers make the skin soft and supple.</p>
        <p>useful for all skin types and all age groups.</p>
        <hr>
        <h3>Active Ingredients</h3>
        <p>•Olive oil</p>
        <p>•Aloe vera</p>
        <p>•Konkum butter</p>
        <p>•Sydnet soap base</p>
        <p>•Glycerin</p>
        <p>•Perfume</p>
        <p>•Zinc oxide</p>
        <hr>
        <h3>Directions for use</h3>
        <p>To be applied on wet skin during bath/washing and worked into a lather and spread on the skin. Care to be taken in skin conditions associated with damage and abrasion.</p>
        
        
    
    
</div>
    
</div>
